.container {
  background-size: cover;
  /* height: 100vh; */
  font-family: roboto;
}
.homeContainer {
  display: flex;
  margin-left: 300px;
}

.table {
  padding: 10px;
  border: 2px solid black;
  /* width: 100vh; */
  width: 50%;
}
.instruction {
  display: flex;
  flex-direction: column;
  width: 120vh;
  align-items: center;
  /* margin-left: 150px; */
  margin-top: 30px;
  background-color: white;
  padding: 10px 60px;
  border-radius: 10px;
}

.instruction button {
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  padding: 14px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.instruction button:disabled {
  cursor: not-allowed;
  background-color: rgb(0, 88, 0);
}

.tableCam {
  display: flex;
  /* width: 90vh; */
  height: 40vh;
  gap: 1rem;
}

.cam {
  width: 50%;
}

.loadingOtp {
  display: flex;
  gap: 0.25rem;
}

.loadingOtp > div {
  width: 0.6rem;
  height: 0.6rem;
  background-color: white;
  border-radius: 50%;
  animation: 1.2s infinite ease-in-out scaleUp;
}

.loadingOtp div:nth-child(1) {
  animation-delay: -0.32s;
}

.loadingOtp div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes scaleUp {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
