.container {
  background-image: url("../Images/WelcomeImage.jpeg");
  background-size: cover;
  /* height: 100vh; */
  font-family: roboto;
  background-repeat: repeat-y;
}

.table {
  padding: 10px;
  border: 2px solid black;
  width: 100vh;
}
.instruction {
  display: flex;
  flex-direction: column;
  width: 120vh;
  align-items: center;
  margin-left: 150px;
  margin-top: 30px;
  background-color: white;
  padding: 10px 60px;
  border-radius: 10px;
}

.instruction button {
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  padding: 14px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.instruction button:disabled {
  cursor: not-allowed;
  background-color: rgb(0, 88, 0);
}
