.container {
  background-color: rgb(236, 236, 236);
  font-family: roboto;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.47);
  height: 7vh;
  position: sticky;
  top: 0;
}

.sticy {
  position: sticky;
  top: 0;
}

.container a {
  text-decoration: none;
  color: black;
}

.title h1 {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-size: 30px;
  font-family: "Syne", sans-serif;
  color: #f50157;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 60px;
  cursor: pointer;
}
.navList {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.navList :hover {
  color: #f50157;
}

.navList :nth-child(4) {
  background-color: #f50157;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  margin-right: 20px;
}

.navList:hover :nth-child(4) {
  color: white;
  background-color: #f3266e;
}

.mainContent {
  display: flex;
  flex-direction: row;
  /* width: 100vh; */
  align-items: center;
  height: 70vh;
  /* border: 2px solid red; */
  justify-content: space-evenly;
}

.mainText {
  /* border: 2px solid red; */
  width: 80vh;
  text-transform: capitalize;
  font-size: 4vh;
  /* font-size: 38px; */
  animation: 0.6s ease-in-out textSlide;
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mainText h2 {
  margin-bottom: 30px;
}

.mainText button {
  padding: 20px 40px;
  border: none;
  background-color: #f3266e;
  border-radius: 20px;
  margin: 0;
}
.mainText button a {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.mainText span {
  color: #f3266e;
}

.mainSVG {
  width: 50vh;
  /* border: 2px solid red; */
  /* margin-right: 10px; */
  margin-left: -100px;
  animation: 0.6s ease-in-out svgSlide;
}

@keyframes svgSlide {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mainSVG img {
  width: 55vh;
  height: 55vh;
  /* margin-top: 10vh; */
}

.textFeatures {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textFeatures h1,
.workflow h1,
.aboutUs h1,
.benefits h1 {
  font-size: 43px;
  color: #eb3072;
  /* text-shadow: 0px 0px 6px #c81555; */
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.features div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 2px solid red; */
  background-color: white;
  width: 16rem;
  padding: 10px;
  border-radius: 20px;
  height: 250px;
  -webkit-box-shadow: -2px 0px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 18px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 18px -6px rgba(0, 0, 0, 0.75);
}

.exams :nth-child(1),
.proctoring :nth-child(1),
.grading :nth-child(1),
.notification :nth-child(1) {
  font-size: 30px;
  margin-top: 20px;
}

.features div h2 {
  font-size: 19px;
}

.features p {
  font-size: 15px;
  margin: 10px 20px;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
}

.workflow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.workComponents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 0px 100px;
  position: relative;
}

.workComponents div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 30px;
  position: relative;
}

.workComponents span {
  position: relative;
  border-radius: 50%;
  margin-bottom: 30px;
  animation: 5s infinite ease-in-out slide;
}

.one span,
.three span {
  animation: 5s infinite ease-in-out slide;

  animation-delay: 3s;
}

.workComponents span::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 3px dashed #a7a7a7;
  border-radius: 50%;
  animation: rotate 25s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes slide {
  0%,
  100% {
    transform: translate3d(0, 20px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
}

.workComponents p {
  margin: 4px;
  box-shadow: inset 0 0 0 8px #090909;
  background-color: #eb3072;
  font-size: 90px;
  font-weight: 600;
  color: white;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one:hover p,
.two:hover p,
.three:hover p,
.four:hover p {
  box-shadow: inset 0 0 0 8px #eb3072;
  background-color: black;
  animation: 0.3s ease-in workflow;
}

@keyframes workflow {
  0% {
    box-shadow: inset 0 0 0 8px #090909;
    background-color: #eb3072;
  }
  100% {
    box-shadow: inset 0 0 0 8px #eb3072;
    background-color: black;
  }
}

.workComponents h3 {
  text-align: center;
  font-size: 23px;
}

.workComponents h4 {
  margin: 10px;
  font-weight: 400;
  text-align: center;
  text-align: center;
  text-justify: inter-word;
}

.one,
.three {
  margin-top: 150px;
}

/* Arrows */
.one img,
.three img {
  position: absolute;
  bottom: 0px;
  left: 100%;
  top: 80%;
  transform: rotate(-15deg);
  width: 150px;
  height: 50px;
  margin: 0;
}

.two img {
  width: 100px;
  height: 100px;
  left: 110%;
  top: 10%;
  position: absolute;
  transform: rotate(75deg);
}

.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutContent {
  display: flex;
  margin: 0px 100px;
  align-content: center;
  justify-content: center;
}

.aboutSVG img {
  width: 500px;
  height: 500px;
}

.aboutText {
  margin-left: 50px;
  margin-top: 60px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUs h1 {
  margin-bottom: -10px;
  margin-top: 60px;
}

.aboutText button {
  border: none;
  background-color: #eb3072;
  color: white;
  padding: 15px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.textHidden {
  display: none;
}

.aboutText h2 {
  font-size: 25px;
}

.aboutText p {
  color: #74757f;
}

.components {
  margin: 100px;
}

.imgComponent {
  width: 300px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}

.components img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -2px 0px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 18px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 18px -6px rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.components img:hover {
  transform: scale(1);
}

.teacherComponent,
.studentComponent {
  display: flex;
}

.teacherComponent div,
.studentComponent div {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.teacherComponent div {
  margin-left: 70px;
}

.teacherComponent h3,
.studentComponent h3 {
  font-size: 30px;
  margin: 0;
}

.teacherComponent p,
.studentComponent p {
  width: 300px;
  text-align: start;
  font-size: 17px;
  line-height: 2rem;
  font-weight: 600;
  color: #535455;
}

.components a {
  text-decoration: none;
  background-color: #eb3072;
  color: white;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
}

.studentComponent a {
  background-color: #7246f6;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 150px;
}

.benefits p {
  width: 800px;
  text-align: center;
  font-size: 19px;
}

.benefitComponent h2 {
  font-size: 35px;
  color: rgb(135, 133, 162);
  width: 800px;
  margin: 30px 0px 0px 0px;
  font-weight: 500;
  width: 500px;
}

.benefitComponent h6 {
  font-size: 18px;
  width: 500px;
  /* margin: 30px 0px; */
  margin-top: 10px;
  color: rgb(94, 94, 94);
  font-weight: 400;
}

.Convenience,
.time,
.efficiency,
.test {
  margin-left: 100px;
}

.cost,
.efficiency {
  margin-left: 600px;
}

.info table {
  border: 1px solid grey;
  border-bottom: 0px;
  border-radius: 10px;
}

.info td {
  border-bottom: 1px solid grey;
  /* border-radius: 20px; */
  padding: 1px 20px;
}

.info table {
  border-spacing: 0;
  /* margin-bottom: 100px; */
}

.info td {
  display: flex;
  align-items: center;
  margin: 0;
}

.contactUs {
  margin: 30px 200px;
  display: flex;
}

.info td :nth-child(1) {
  width: 30px;
  height: 30px;
  background-color: #eb3072;
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

.info h3 {
  margin: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
  color: black !important;
  font-weight: 500;
}

.info h4 {
  margin: 0;
  font-weight: 300;
  color: grey;
}

.follow {
  display: flex;
  flex-direction: column;
}

.follow h3 {
  width: 150px !important;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  margin-left: 30px !important;
}

.facebook,
.twitter,
.insta {
  width: 25px !important;
  height: 25px !important;
  background-color: #eb3072;
  color: white;
  padding: 10px;
  margin: 20px;
  margin-top: 10px !important;
  border-radius: 5px;
}

.contact {
  margin-left: 50px;
}

.contact h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 28px;
  color: #535455;
  /* margin-left: 10px; */
}

.contact p {
  margin: 0px 0px 20px 0px;
  color: #808080;
  font-size: 14px;
  width: 100%;
}

.contactForm input,
.contactForm textarea {
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
}

.contactForm textarea::placeholder {
  font-family: roboto;
}

.contactForm input[type="text"] {
  width: 90%;
}

.contactForm div input {
  width: 41%;
  margin-right: 27px;
}

.contactForm button {
  border: none;
  padding: 10px 15px;
  background-color: #eb3072;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

.footer {
  background-color: black;
  height: 250px;
  display: flex;
  /* grid-template-rows: (4, 1fr); */
  padding: 0px 80px;
  color: white;
  /* justify-content: center; */
}

.footerName {
  width: 25%;
  margin-right: 60px;
  margin-left: 100px;
}

.footerName p {
  color: #a7a7a7;
}

.Links {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.Links h3 {
  margin-bottom: 30px;
}

.Links p {
  margin: 0px 0px 20px 0px;
  color: #a7a7a7;
}

.footerContact {
  width: 25%;
}

.footerContact div {
  display: flex;
  align-items: center;
  color: #a7a7a7;
}

.footerContact p {
  margin-left: 10px;
}

.footerfollow {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.footerfollow h3 {
  margin-left: 20px;
  margin-top: 20px;
}
.footerfollow div {
  width: 140px;
  padding: 10px;
}

.footerfollow * {
  margin-left: 20px;
  margin: 10px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #535455;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#cursor {
  animation: 1.2s infinite steps(1) blink;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
