.container {
  background-size: cover;
  height: 100vh;
  font-family: roboto;
  background-color: #ebebee;
}

.homeContainer {
  display: flex;
  margin-left: 300px;
}

.sideNavbar {
  background-color: #22284a;
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 25vh;
  margin: 20px;
  padding: 10px;
  border-radius: 30px;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 200px; */
}
.sideNavbar h2 {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.navbarProfile {
  background-color: #363f5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin: 20px;
}

.navbarProfile h2 {
  font-size: 18px;
  width: 70%;
}

.navbarProfile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.navbarProfile input {
  display: none;
}

.navbarProfile button {
  width: 60%;
  height: 35px;
  border-radius: 25px;
  background-color: green;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.navbarProfile h2 {
  color: white;
}

.navbarMenu {
  height: 60%;
  color: white;
}

.menuItems {
  /* align-items: center; */
  height: 50%;
  display: flex;
  flex-direction: column;
}

.menuItems h3 {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 30%;
}

.menuItems table {
  display: flex;
  height: 70%;
  font-size: 17px;
  margin-left: 30px;
}

.menuItems tr {
  cursor: pointer;
}

.menuItems p {
  margin: 0;
  margin-left: 15px;
  color: white;
  font-size: 20px;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7246f6;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.logoutButton :nth-child(1) {
  font-size: 25px;
  margin-right: 20px;
}

.progressContainer {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.progressContainer h2 {
  font-size: 18px;
}

.progressContainer div {
  display: flex;
  align-items: center;
  color: grey;
}

.progressContainer p,
.progressContainer span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}

.progressContainer span {
  background-color: red;
  margin-left: 10px;
}

.profile {
  height: 100%;
  background-color: white;
  padding: 10px;
  width: 40vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33%;
}

.avatar img {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  cursor: pointer;
}

.avatar input {
  display: none;
}

.avatar h2 {
  font-size: 18px;
}

.line {
  width: 90%;
  height: 3px;
  border-radius: 20px;
  background-color: #ebebee;
}

.info {
  height: 33%;
  margin: 20px;
}

.info span {
  display: flex;
  align-items: center;
}

.info span :nth-child(1) {
  background-color: #7246f6;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.info p {
  margin: 8px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}

.recentExams {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  height: 40vh;
  overflow: scroll;
  color: black;
}

.examCard {
  text-transform: capitalize;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.examCard div {
  display: flex;
}

.examCard h3 {
  margin: 0;
  margin-right: 10px;
}

.examCard p {
  font-size: 13px !important;
  color: grey;
  margin-right: 10px;
}

.examCard div :nth-child(2) {
  color: grey;
  font-size: 15px;
}

.practice {
  border-right: 6px solid pink;
}

.actual {
  border-right: 6px solid lightblue;
}

::-webkit-scrollbar {
  width: 2px;
}
