.container {
  background-size: cover;
  height: 100vh;
  font-family: roboto;
  background-color: #ebebee;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.47);
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 60px;
  cursor: pointer;
}
.navList {
  font-weight: 600;
}
.navList :hover {
  color: #7a52f4;
}

.navbar button {
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  cursor: pointer;
  background-color: #7a52f4;
  color: white;
  font-weight: 600;
  border-radius: 15px;
}

.homeContainer {
  display: flex;
}

.sideNavbar {
  background-color: #22284a;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  width: 25vh;
  margin: 20px;
  height: 90vh;
  padding: 10px;
  border-radius: 30px;
  justify-content: space-evenly;
}
.sideNavbar h2 {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.navbarProfile {
  background-color: #363f5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin: 20px;
}

.navbarProfile h2 {
  font-size: 18px;
  width: 70%;
}

.navbarProfile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
}

.navbarProfile :nth-child(1) {
  width: 100px;
  height: 100px;
  color: white;
}

.navbarProfile h2 {
  color: white;
}

.navbarMenu {
  color: white;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItems h3 {
  font-size: 20px;
}

.menuItems table {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.menuItems tr {
  margin-bottom: 15px;
  cursor: pointer;
}

.menuItems p {
  margin: 0;
  margin-left: 15px;
  color: white;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7246f6;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.logoutButton :nth-child(1) {
  font-size: 25px;
  margin-right: 20px;
}

.progressContainer {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.progressContainer h2 {
  font-size: 18px;
}

.progressContainer div {
  display: flex;
  align-items: center;
  color: grey;
}

.progressContainer p,
.progressContainer span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}

.progressContainer span {
  background-color: red;
  margin-left: 10px;
}

.profile {
  height: 100%;
  background-color: white;
  /* padding: 70px; */
  width: 40vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33%;
}

.avatar img {
  width: 150px;
  border-radius: 50%;
  height: 150px;
}

.avatar :nth-child(1) {
  width: 150px;
  height: 150px;
}

.avatar h2 {
  font-size: 18px;
}

.line {
  width: 90%;
  height: 3px;
  border-radius: 20px;
  background-color: #ebebee;
}

.info {
  height: 33%;
  margin: 20px;
}

.info span {
  display: flex;
  align-items: center;
}

.info span :nth-child(1) {
  background-color: #7246f6;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.info p {
  margin: 8px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}
